@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelPalette</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div class="login">
            <div id="logo">Logo</div>
            <div id="username"><a>Username</a></div>
            <div id="login">
                <a>Login</a>
                @{
                    TravelPalette.BL.UserManager.Seed();  // calling the seed
                    var FullName = HttpContextAccessor.HttpContext?.Session.GetString("FullName");
                    if (FullName != null) FullName = FullName.Replace("\"", "");    //string manipulation
                }
                <a class="nav-link text-dark">@FullName</a>
            </div>
        </div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Eat</a></li>
                    <li><a href="#">Travel Palette</a></li>
                    <li><a href="#">Stay</a></li>
                    <li><a href="#">Fun</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
           <main>
           <div class="text-danger m-2">@ViewBag.Error</div>
            @RenderBody()
           </main>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TravelPalette - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
