@model TravelPalette.UI.ViewModels.UserListVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="UserList.Id" class="form-control" />
            <input hidden asp-for="UserList.UserId" class="form-control" value="@Model.User.Id" />
            <input hidden asp-for="UserList.ListId" class="form-control" value=""/>
            <div class="form-group">
                <label asp-for="UserList.ListName" class="control-label"></label>
                <input asp-for="UserList.ListName" class="form-control" />
                <span asp-validation-for="UserList.ListName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
