html {
    font-size: 14px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #EBE9E9;
}

body {
    margin-bottom: 60px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

li.nav-item a:hover {
    background-color: #3581B8;
}

footer {
    background-color: white;
}

footer.container {
    color:black;
}

.main {
    margin: 0px;
    padding: 0px;
    float: inline-start;
}

div.dataTables_filter, div.dataTables_lengthm, .dataTables_wrapper {
    padding: 5px;
}

.header {
    margin: 0px;
    padding: 0px;
}
    .header h1, .header h2, .header h3, .header h4, .header h5 {
        margin: 0px;
        padding: 0px;
        color: black;
        font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }
