html {
    font-size: 14px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #EBE9E9;
}

body {
    margin-bottom: 60px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

li.nav-item a:hover {
    background-color: #3581B8;
}

footer {
    background-color: white;
}

footer.container {
    color:black;
}

.main {
    margin: 0px;
    padding: 0px;
    float: inline-start;
}

div.dataTables_filter, div.dataTables_lengthm, .dataTables_wrapper {
    padding: 5px;
}

.header {
    margin: 0px;
    padding: 0px;
}
    .header h1, .header h2, .header h3, .header h4, .header h5 {
        margin: 0px;
        padding: 0px;
        color: black;
        font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }

.filter-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: #3386c0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-group {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    color: #fff;
    display: none; /* Initially hide */
}

    .filter-group input[type='checkbox']:first-child + label {
        border-radius: 3px 3px 0 0;
    }

    .filter-group label:last-child {
        border-radius: 0 0 3px 3px;
        border: none;
    }

    .filter-group input[type='checkbox'] {
        display: none;
    }

        .filter-group input[type='checkbox'] + label {
            background-color: #3386c0;
            display: block;
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        }

        .filter-group input[type='checkbox'] + label {
            background-color: #3386c0;
            text-transform: capitalize;
        }

            .filter-group input[type='checkbox'] + label:hover,
            .filter-group input[type='checkbox']:checked + label {
                background-color: #4ea0da;
            }

                .filter-group input[type='checkbox']:checked + label:before {
                    content: '✔';
                    margin-right: 5px;
                }