@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-container">
    <div>Tell us about what you are looking for</div>
    <div class="search-box">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </div>
</div>
