<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Demo: Add points to a web map with filtering</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        .filter-group {
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 600;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            border-radius: 3px;
            width: 120px;
            color: #fff;
        }

            .filter-group input[type='checkbox']:first-child + label {
                border-radius: 3px 3px 0 0;
            }

            .filter-group label:last-child {
                border-radius: 0 0 3px 3px;
                border: none;
            }

            .filter-group input[type='checkbox'] {
                display: none;
            }

                .filter-group input[type='checkbox'] + label {
                    background-color: #3386c0;
                    display: block;
                    cursor: pointer;
                    padding: 10px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                }

                .filter-group input[type='checkbox'] + label {
                    background-color: #3386c0;
                    text-transform: capitalize;
                }

                    .filter-group input[type='checkbox'] + label:hover,
                    .filter-group input[type='checkbox']:checked + label {
                        background-color: #4ea0da;
                    }

                        .filter-group input[type='checkbox']:checked + label:before {
                            content: '✔';
                            margin-right: 5px;
                        }
    </style>
</head>
<body>
    <div id="map"></div>
    <nav id="filter-group" class="filter-group"></nav>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibGV1bWFzMTIzMSIsImEiOiJjbHNjbDBtenMwcjRwMmtxbG1lMWVvNWo0In0.oawYLGHq-hDv7aFDdWrbSw';

        // This GeoJSON contains features that include an "icon"
        // property. The value of the "icon" property corresponds
        // to an image in the Mapbox Light style's sprite. (Note:
        // the name of images is the value of the "icon" property
        // + "-15".)
        const places = {
            'type': 'FeatureCollection',
            "features": [
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/10021941017",
                        "amenity": "restaurant",
                        "cuisine": "mexican",
                        "name": "Tipsy Taco"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.416021,
                            44.260872
                        ],
                        "type": "Point"
                    },
                    "id": "node/10021941017"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "contact:website": "https://www.starbucks.com/store-locator/store/1040598/hilton-appleton-paper-valley-333-w-college-ave-appleton-wi-54911-us",
                        "cuisine": "coffee_shop",
                        "brand": "Starbucks",
                        "name": "Starbucks",
                        "brand:wikidata": "Q37158",
                        "construction": "yes",
                        "takeaway": "yes",
                        "amenity": "cafe",
                        "outdoor_seating": "no",
                        "id": "node/10082473208",
                        "official_name": "Starbucks Coffee"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.409592,
                            44.261592
                        ],
                        "type": "Point"
                    },
                    "id": "node/10082473208"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "addr:housenumber": "220",
                        "level": "0",
                        "opening_hours": "Tu-We 15:00-20:00; Th 15:00-21:00; Fr-Sa 15:00-22:00",
                        "addr:state": "WI",
                        "name": "Mondo! Wine Bar & Retail",
                        "addr:street": "West College Avenue",
                        "phone": "920-903-1787",
                        "addr:city": "Appleton",
                        "shop": "wine",
                        "addr:postcode": "54911",
                        "amenity": "bar",
                        "website": "https://www.mondowinebar.com/",
                        "id": "node/10313691629",
                        "email": "infomondowinebar.com"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.408119,
                            44.26199
                        ],
                        "type": "Point"
                    },
                    "id": "node/10313691629"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "addr:housenumber": "222",
                        "branch": "Appleton",
                        "operator": "Johnson Financial Group",
                        "opening_hours": "Mo-Fr 08:30-17:00",
                        "addr:state": "WI",
                        "start_date": "2006",
                        "name": "Johnson Financial Group - Appleton",
                        "addr:street": "West College Avenue",
                        "phone": "(920) 225-5500",
                        "drive_through": "no",
                        "addr:city": "Appleton",
                        "addr:postcode": "54911",
                        "amenity": "bank",
                        "atm": "yes",
                        "website": "https://www.johnsonfinancialgroup.com/locations/wi/appleton/appleton",
                        "id": "node/10313691630"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.408506,
                            44.261999
                        ],
                        "type": "Point"
                    },
                    "id": "node/10313691630"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/11368994236",
                        "amenity": "cafe",
                        "cuisine": "coffee_shop",
                        "name": "Coffee Wizardz"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.396021,
                            44.255374
                        ],
                        "type": "Point"
                    },
                    "id": "node/11368994236"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/11368994237",
                        "amenity": "arts_centre",
                        "name": "The Draw"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.396012,
                            44.255277
                        ],
                        "type": "Point"
                    },
                    "id": "node/11368994237"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/1302228681",
                        "amenity": "bicycle_parking"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.406986,
                            44.263527
                        ],
                        "type": "Point"
                    },
                    "id": "node/1302228681"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/1302229351",
                        "amenity": "restaurant",
                        "name": "VFW",
                        "wheelchair": "no"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.415912,
                            44.26584
                        ],
                        "type": "Point"
                    },
                    "id": "node/1302229351"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2527601297",
                        "amenity": "waste_basket"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.399912,
                            44.265153
                        ],
                        "type": "Point"
                    },
                    "id": "node/2527601297"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2527601376",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.398954,
                            44.265101
                        ],
                        "type": "Point"
                    },
                    "id": "node/2527601376"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2527601378",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.399018,
                            44.265018
                        ],
                        "type": "Point"
                    },
                    "id": "node/2527601378"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2527601386",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.398513,
                            44.265039
                        ],
                        "type": "Point"
                    },
                    "id": "node/2527601386"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2527601392",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.398731,
                            44.265172
                        ],
                        "type": "Point"
                    },
                    "id": "node/2527601392"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2527601423",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.399632,
                            44.264126
                        ],
                        "type": "Point"
                    },
                    "id": "node/2527601423"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2527601457",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.399595,
                            44.264573
                        ],
                        "type": "Point"
                    },
                    "id": "node/2527601457"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2527601458",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.399668,
                            44.264574
                        ],
                        "type": "Point"
                    },
                    "id": "node/2527601458"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2580287061",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.399812,
                            44.264773
                        ],
                        "type": "Point"
                    },
                    "id": "node/2580287061"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2580287062",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.399925,
                            44.264774
                        ],
                        "type": "Point"
                    },
                    "id": "node/2580287062"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2580287063",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.399901,
                            44.264886
                        ],
                        "type": "Point"
                    },
                    "id": "node/2580287063"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "id": "node/2580287064",
                        "amenity": "bench"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.399816,
                            44.264887
                        ],
                        "type": "Point"
                    },
                    "id": "node/2580287064"
                },
                {
                    "type": "Feature",
                    "properties": {
                        "addr:housenumber": "118",
                        "name": "Josef's Gyros Kabob",
                        "addr:street": "Soldiers Square",
                        "phone": "+1-920-830-9355",
                        "addr:city": "Appleton",
                        "addr:postcode": "54911",
                        "amenity": "restaurant",
                        "website": "http://www.gyros-kabob.com/",
                        "id": "node/2951707165"
                    },
                    "geometry": {
                        "coordinates": [
                            -88.405144,
                            44.261336
                        ],
                        "type": "Point"
                    },
                    "id": "node/2951707165"
                },
            ]
        };

        const filterGroup = document.getElementById('filter-group');
        const map = new mapboxgl.Map({
            container: 'map',
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/leumas1231/clt967hee00t201qp8yc3g4aq/draft',
            center: [-88.407059, 44.261614],
            zoom: 11.15
        });

        map.on('load', () => {
            // Add a GeoJSON source containing place coordinates and information.
            map.addSource('places', {
                'type': 'geojson',
                'data': places
            });
            const amenities = ['bar', 'restaurant', 'cafe', 'theatre', 'bank', 'church', 'library', 'fastfood', 'gas', 'icecream', 'postoffice'];

            for (const feature of places.features) {
                const symbol = feature.properties.amenity;
                const layerID = `poi-${symbol}`;

                // Add a layer for this symbol type if it hasn't been added already.
                if (!map.getLayer(layerID)) {
                    map.addLayer({
                        'id': layerID,
                        'type': 'symbol',
                        'source': 'places',
                        'layout': {
                            // These icons are a part of the Mapbox Light style.
                            // To view all images available in a Mapbox style, open
                            // the style in Mapbox Studio and click the "Images" tab.
                            // To add a new image to the style at runtime see
                            // https://docs.mapbox.com/mapbox-gl-js/example/add-image/
                            'icon-image': `${symbol}`,
                            'icon-allow-overlap': true
                        },
                        'filter': ['==', 'amenity', symbol]
                    });

                    // Add checkbox and label elements for the layer.
                    const input = document.createElement('input');
                    input.type = 'checkbox';
                    input.id = layerID;
                    input.checked = false;
                    filterGroup.appendChild(input);

                    const label = document.createElement('label');
                    label.setAttribute('for', layerID);
                    label.textContent = symbol;
                    filterGroup.appendChild(label);

                    // When the checkbox changes, update the visibility of the layer.
                    input.addEventListener('change', (e) => {
                        map.setLayoutProperty(
                            layerID,
                            'visibility',
                            e.target.checked ? 'none' : 'visible'
                        );
                    });
                }
            }
        });

        map.on('click', (event) => {
            const features = map.queryRenderedFeatures(event.point, {
                layers: ['bar', 'restaurant', 'cafe', 'theatre', 'bank', 'church', 'library', 'fastfood', 'gas', 'icecream', 'postoffice']
            });
            if (!features.length) {
                return;
            }
            const feature = features[0];
            let popupContent = `<h3>${feature.properties.name}</h3>`;
            if (feature.properties.website) {
                popupContent += `<p>Website: <a href="${feature.properties.website}" target="_blank">${feature.properties.website}</a></p>`;
            }
            if (feature.properties['addr:street']) {
                popupContent += `<p>Address: ${feature.properties['addr:street']}, ${feature.properties['addr:housenumber']}</p>`;
            }
            if (feature.properties['addr:city']) {
                popupContent += `<p>${feature.properties['addr:city']}, ${feature.properties['addr:state']} ${feature.properties['addr:postcode']}</p>`;
            }
            if (feature.properties.cuisine) {
                const capitalizedCuisine = feature.properties.cuisine.charAt(0).toUpperCase() + feature.properties.cuisine.slice(1);
                popupContent += `<p>Cuisine: ${capitalizedCuisine}</p>`;
                // Need below to insert ID into database, to save trips
                popupContent += `<p><a href="/Home/Test?feature=${encodeURIComponent(JSON.stringify(feature))}" target="_blank">More Info</a></p>`;
            }

            popupContent += `<p><a href="/Home/AddToTrip/${feature.properties.id}" target="_blank">Add To Trip</a></p>`;
            const popup = new mapboxgl.Popup({ offset: [0, -15] })
                .setLngLat(feature.geometry.coordinates)
                .setHTML(popupContent)
                .addTo(map);
        });
    </script>
</body>
</html>
