@{
    ViewData["Title"] = "Home Page";
}

<iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-88.4125828742981%2C44.25190057553936%2C-88.38425874710083%2C44.265178476008316&amp;layer=mapnik" style="border: 1px solid black"></iframe>
<br /><small><a href="https://www.openstreetmap.org/#map=16/44.2585/-88.3984">View Larger Map</a></small>