@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="map-container">


</div>
<div class="list-container">
    <div class="info-container">Container 1</div>
    <div class="info-container">Container 2</div>
    <div class="info-container">Container 3</div>
    <div class="info-container">Container 4</div>
    <div class="info-container">Container 5</div>
    <div class="info-container">Container 6</div>
    <div class="info-container">Container 7</div>
    <div class="info-container">Container 8</div>
    <div class="info-container">Container 9</div>
</div>
